
body{background: #1ED4E5; !important}

#cd-timeline {
  position: relative;
  padding: 2em 0;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 49%;
  height: 5000em;
  width: 4px;
  background: #1ED4E5;
  margin-top:2.5em;
}

.cd-timeline-content{
    position: relative;
    float:left;
    clear:right;
    width:45%;
    margin-bottom:2em;
}

/*.cd-timeline-content.left{
}*/


.cd-timeline-content.right{
    margin-left: 9%;
    text-align:right;
    margin-bottom:2em;
    margin-left: 0%;
}

.cd-timeline-content.right p, .cd-timeline-content.right h1,.cd-timeline-content.right a{
    text-align:right;
}

.cd-timeline-content.right a.anchor-link{
  display: none;
}

.cd-timeline-img{
    position: relative;
    width:5%;
    float: left;
    
}

.cd-timeline-img.left{
  margin-left:46.9%;
    margin-right:2%;
    clear:left;
}

.cd-timeline-img.right{
    margin-left: 2%;
    clear:right;
}